/* ==========================================================================
   #OUR TEAM
   ========================================================================== */


.c-our-team {

}


  .c-our-team__image {
    background-image: url(../images/our-team.jpeg);
    background-position: center;
    background-size: cover;
    height: 400px;
  }
