/* ==========================================================================
   #FIELDS
   ========================================================================== */

/**
 * Input fields
 */

.c-field {
  padding: $unit-tiny;
  border-radius: $global-radius;
  border: 1px solid $color-gray--light;
}